body {
    padding: 50px;
    background-image: url(../img/bg1.jpg);
    font-family: monospace;
}

.info-dolar {
    font-size: 30px;
    color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) 2px solid;
    padding: 10px;
    margin: 10px;
    font-weight: 900;
    background-color: rgba(0, 0, 255, 0.623);
}

.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 12vh;
    background-color: #1b1b1b;
}

.navbar-logo {
    justify-self: start;
    margin-left: 20px;
    color: #fff;
    margin-top: 4vh;
    cursor: pointer;
}

.ver-carrito {
    font-size: 50px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}



.shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}

.card {
    margin: 10px;
    padding: 30px 10px 10px 10px;
    text-align: center;
    font-family: monospace;
    background-color: rgba(0, 0, 0, 0.767);
    color: white;
    width: 300px;
    height: 450px;
    border: rgb(20, 139, 175) 5px solid;
    box-shadow: 10px 10px 40px 0px #ffffff88;
    -webkit-box-shadow: 10px 10px 40px 0px #ffffff88;
    -moz-box-shadow: 10px 10px 40px 0px #ffffff88;
}
.card:hover {
    transform: scale(1.02);
}

.card>img {
    width: 250px;
    height: 250px;
    border: rgb(20, 139, 175) 5px solid; ;
}
h3{
    font-size: 25px;
}
.price {
    color: rgb(253, 253, 253);
    font-size: 25px;
    font-weight: 800;
}


.card button {
    border: none;
    outline: 0;
    padding: 10px;
    color: white;
    background-color:rgba(7, 97, 29, 0.842);
    text-align: center;
    cursor: pointer;
    width: auto;
    border-radius: 10px;
    font-size: 25px;
    font-family: monospace;
}

.card button:hover {
    opacity: 0.7;
}

.modal-container {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #121212d2;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 12vh;
    scrollbar-color: none;
}

.modal-container::-webkit-scrollbar {
    display: none;
}

.modal-header {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    color: #fff;
    width: 100%;
}

.modal-header-title {
    justify-self: start;
}

.modal-header-button {
    cursor: pointer;
}

.modal-container>.modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
    font-size: 25px;
}

.modal-container>div>img {
    height: 120px;
    width: 120px;
}

.total-content {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    background-color: rgba(255, 255, 255, 0.712);
    width: 100%;
    color: black;
}


@media only screen and (max-width: 750px) {
    .modal-container {
        width: 100%;
        margin: 0;
        min-height: 88vh;
    }

    .modal-container>.modal-content {
        justify-content: space-between;
        width: 100%;
        margin: 2px;
    }

    .modal-container>div>img {
        height: 80px;
        width: 80px;
    }
}

.delete-product {
    cursor: pointer;
}


.cantidad-carrito {
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    padding: 5px;
    top: 34px;
    right: 15px;
    position: absolute;
    display: none;
}

.sumar {
    cursor: pointer;
    font-size: 30px;
}

.restar {
    cursor: pointer;
    font-size: 30px;
}